@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);

#features1-9 H4 {
  color: #990f0b;
}
#features1-9 P {
  color: #090b42;
}
#footer1-3 P {
  text-align: center;
  color: #990f0b;
}
#dropdown-menu-2btn-4 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-4 .nav .link,
#dropdown-menu-2btn-4 .dropdown-item {
  font-size: 1.2em;
  color: #05386b;
}
#dropdown-menu-2btn-4 .navbar,
#dropdown-menu-2btn-4 .dropdown-menu {
  background: #5cdb95;
}
#dropdown-menu-2btn-4 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-4 .dropdown-menu a:hover,
#dropdown-menu-2btn-4 .dropdown-menu a:focus {
  background: #4bd78a;
}
#dropdown-menu-2btn-4 .navbar-toggler {
  color: #05386b;
}
#dropdown-menu-2btn-4 STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}
#features1-8 H4 {
  color: #05386b;
}
#slider-a H2 {
  color: #ffffff;
  text-align: left;
  font-size: 25px;
}
#contacts3-b DIV {
  color: #ffffff;
}
#contacts3-b P {
  color: #ffffff;
}

#content5-1e P {
  font-size: 30px;
}
#content5-1e DIV {
  color: #05386b;
}
#footer1-d P {
  text-align: center;
  color: #990f0b;
}
#dropdown-menu-2btn-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-e .nav .link,
#dropdown-menu-2btn-e .dropdown-item {
  font-size: 1.2em;
  color: #05386b;
}
#dropdown-menu-2btn-e .navbar,
#dropdown-menu-2btn-e .dropdown-menu {
  background: #5cdb95;
}
#dropdown-menu-2btn-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-e .dropdown-menu a:hover,
#dropdown-menu-2btn-e .dropdown-menu a:focus {
  background: #4bd78a;
}
#dropdown-menu-2btn-e .navbar-toggler {
  color: #05386b;
}
#dropdown-menu-2btn-e STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}
#contacts3-f DIV {
  color: #ffffff;
}
#contacts3-f P {
  color: #ffffff;
}

#msg-box3-1g .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1g .lead {
  text-align: left;
  color: #05386b;
}
#msg-box3-1g .mbr-section-title {
  color: #05386b;
}
#footer1-g P {
  text-align: center;
  color: #990f0b;
}
#dropdown-menu-2btn-h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-h .nav .link,
#dropdown-menu-2btn-h .dropdown-item {
  font-size: 1.2em;
  color: #05386b;
}
#dropdown-menu-2btn-h .navbar,
#dropdown-menu-2btn-h .dropdown-menu {
  background: #5cdb95;
}
#dropdown-menu-2btn-h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-h .dropdown-menu a:hover,
#dropdown-menu-2btn-h .dropdown-menu a:focus {
  background: #4bd78a;
}
#dropdown-menu-2btn-h .navbar-toggler {
  color: #05386b;
}
#dropdown-menu-2btn-h STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}
#contacts3-i DIV {
  color: #ffffff;
}
#contacts3-i P {
  color: #ffffff;
}

#footer1-j P {
  text-align: center;
  color: #990f0b;
}
#dropdown-menu-2btn-k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-k .nav .link,
#dropdown-menu-2btn-k .dropdown-item {
  font-size: 1.2em;
  color: #05386b;
}
#dropdown-menu-2btn-k .navbar,
#dropdown-menu-2btn-k .dropdown-menu {
  background: #5cdb95;
}
#dropdown-menu-2btn-k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-k .dropdown-menu a:hover,
#dropdown-menu-2btn-k .dropdown-menu a:focus {
  background: #4bd78a;
}
#dropdown-menu-2btn-k .navbar-toggler {
  color: #05386b;
}
#dropdown-menu-2btn-k STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}
#contacts3-l DIV {
  color: #ffffff;
}
#contacts3-l P {
  color: #ffffff;
}

#footer1-m P {
  text-align: center;
  color: #990f0b;
}
#dropdown-menu-2btn-n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-n .nav .link,
#dropdown-menu-2btn-n .dropdown-item {
  font-size: 1.2em;
  color: #05386b;
}
#dropdown-menu-2btn-n .navbar,
#dropdown-menu-2btn-n .dropdown-menu {
  background: #5cdb95;
}
#dropdown-menu-2btn-n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-n .dropdown-menu a:hover,
#dropdown-menu-2btn-n .dropdown-menu a:focus {
  background: #4bd78a;
}
#dropdown-menu-2btn-n .navbar-toggler {
  color: #05386b;
}
#dropdown-menu-2btn-n STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}
#contacts3-o DIV {
  color: #ffffff;
}
#contacts3-o P {
  color: #ffffff;
}

#footer1-p P {
  text-align: center;
  color: #990f0b;
}
#dropdown-menu-2btn-q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-q .nav .link,
#dropdown-menu-2btn-q .dropdown-item {
  font-size: 1.2em;
  color: #05386b;
}
#dropdown-menu-2btn-q .navbar,
#dropdown-menu-2btn-q .dropdown-menu {
  background: #5cdb95;
}
#dropdown-menu-2btn-q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-q .dropdown-menu a:hover,
#dropdown-menu-2btn-q .dropdown-menu a:focus {
  background: #4bd78a;
}
#dropdown-menu-2btn-q .navbar-toggler {
  color: #05386b;
}
#dropdown-menu-2btn-q STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}
#contacts3-r DIV {
  color: #ffffff;
}
#contacts3-r P {
  color: #ffffff;
}

#footer1-v P {
  text-align: center;
  color: #990f0b;
}
#dropdown-menu-2btn-w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-w .nav .link,
#dropdown-menu-2btn-w .dropdown-item {
  font-size: 1.2em;
  color: #05386b;
}
#dropdown-menu-2btn-w .navbar,
#dropdown-menu-2btn-w .dropdown-menu {
  background: #5cdb95;
}
#dropdown-menu-2btn-w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-w .dropdown-menu a:hover,
#dropdown-menu-2btn-w .dropdown-menu a:focus {
  background: #4bd78a;
}
#dropdown-menu-2btn-w .navbar-toggler {
  color: #05386b;
}
#dropdown-menu-2btn-w STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}
#contacts3-x DIV {
  color: #ffffff;
}
#contacts3-x P {
  color: #ffffff;
}

#footer1-y P {
  text-align: center;
  color: #990f0b;
}
#dropdown-menu-2btn-z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-z .nav .link,
#dropdown-menu-2btn-z .dropdown-item {
  font-size: 1.2em;
  color: #05386b;
}
#dropdown-menu-2btn-z .navbar,
#dropdown-menu-2btn-z .dropdown-menu {
  background: #5cdb95;
}
#dropdown-menu-2btn-z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-z .dropdown-menu a:hover,
#dropdown-menu-2btn-z .dropdown-menu a:focus {
  background: #4bd78a;
}
#dropdown-menu-2btn-z .navbar-toggler {
  color: #05386b;
}
#dropdown-menu-2btn-z STRONG {
  font-family: 'Alegreya Sans', sans-serif;
}
#contacts3-10 DIV {
  color: #ffffff;
}
#contacts3-10 P {
  color: #ffffff;
}
